[Unit]
Description=Campus %i data flow inotify daemon

[Service]
User=dataman
ExecStart=/home/dataman/data_flow/inotify_daemons/campus.daemon %i
Restart=always

[Install]
WantedBy=multi-user.target